@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
  color: white;
  line-height: 1.42857143;
}
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 196, 196);
}
::-webkit-scrollbar-thumb:active {
  background: white;
}
a {
  color: white;
  text-decoration: none;
}
